
@{
    ViewBag.Title = "Admin Logout";
}

<h2>Admin Logout</h2>
<h2>Logged out Successfully</h2>@Html.ActionLink("Login Again Click Here", "AdminLogin", "Home", new { @class = "btn btn-primary" })

