@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Please Free to Contact Us!</h3>
<h4>Your Can Reach Us By Below Mentioned Details</h4>

<address>
    Deloitte USI<br />
    Meenakshi Towers, Gachibowli, Hyderabad<br />
    <abbr title="Phone">P:</abbr>
    9876543210
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@deloitte.com">Support@deloitte.com</a><br />
    <strong>Consulting:</strong>   <a href="mailto:Consulting@deloitte.com">Consulting@deloitte.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@deloitte.com">Marketing@deloitte.com</a>
</address>