
@{
    ViewBag.Title = "UserLogout";
}

<h2>User Logout</h2>
<h2>Logged out successfully</h2>@Html.ActionLink("Login Again Click Here", "UserLogin", "Home", new { @class = "btn btn-primary" })

